:root {
  --primary: #f59a3f;
  --bg: #010101;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  height: 100vh;
  background: linear-gradient(rgb(0, 0, 0), rgba(248, 158, 54, 0.5));
}

.container {
  width: 34rem;
}

.card {
  background-color: #2e2c2c;
  padding: 20px;
  border-radius: 5px;
  border: 5px solid #f59a3f; /* Warna primary */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  color: #f59a3f;
}

form {
  margin-top: 20px;
}

input {
  width: 30rem;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 102%;
  padding: 10px;
  margin-bottom: 3rem;
  background-color: var(--primary); /* Warna primary */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9; /* Warna primary (hover) */
}
.container a {
  color: #be7f3f;
}

h1 {
  color: #fff;
  font-size: 24px;
}
.container a {
  font-size: 1.2rem;
}
